@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: jetbrainMono;
    src: url(../../assets/font/JetBrains_Mono/static/JetBrainsMono-Regular.ttf);
}

@layer base {
    html {
        @apply font-sans;
    }
    body {
        @apply flex h-screen items-center justify-center bg-balticSeaDarker;
    }
}

@layer components {
    .form {
        @apply mt-5 bg-balticSea p-5;
    }

    .form-group label {
        @apply text-body capitalize leading-body text-mischka;
    }

    .form-group {
        @apply mb-3;
    }

    .strength {
        @apply mr-2 h-7 w-3 self-center border-2 border-mischka;
    }

    input[type="checkbox"] {
        @apply accent-mintGreen;
    }

    .wrapper.tooweak .rectangle-wrapper > div:first-child {
        @apply border-carnation bg-carnation;
    }

    .wrapper.weak .rectangle-wrapper > div:is(:first-child, :nth-child(2)) {
        @apply border-coral bg-coral;
    }

    .wrapper.medium .rectangle-wrapper > div:not(:last-child) {
        @apply border-creamCan bg-creamCan;
    }

    .wrapper.strong .rectangle-wrapper > div {
        @apply border-mintGreen bg-mintGreen;
    }
}
